h1 {
    font-family: "Lucida Console", monospace;
    color:rgba(203, 70, 255, 0.815);
    size:1.5em
 }
h1 {
    text-align:center;
 }
body {
    max-width: 800px;
    margin: 0 auto;
  }
h2 {
    font-size: 1.3em;
  }
p,ul,ol,dl {
    font-size: 1.1em;
  }
  
p, li, dd, dt {
    line-height: 1.5;
  }
a:link {
    color:tomato
}
a:visited {
    color:goldenrod
}
dt {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.center{
    text-align: center;
}
.right{
    text-align: right;
}
.left{
    text-align: left;
}
.column {
    flex: 33.33%;
    height: 200px;
    padding: 10px;
    margin: 5px;
    background-color: #cccccc;
    text-align: center;
  }
.container {
     display: flex;
  }