h1 {
    font-family: "Lucida Console", monospace;
    color:red;
    size:1.5em
 }
h1 {
    text-align:center;
 }
body {
    max-width: 800px;
    margin: 0 auto;
  }
h2 {
    font-size: 1.3em;
  }
p,ul,ol,dl {
    font-size: 1.1em;
  }
  
p, li, dd, dt {
    line-height: 1.5;
  }
a:link {
    color:tomato
}
a:visited {
    color:goldenrod
}
dt {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}